@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Bold:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@mixin centralizar1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@mixin centralizar2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centralizar3 {
    display: flex;
    align-items: center;
}

@mixin centralizar4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin centralizar5 {
    display: flex;
    justify-content: center;
}

@mixin titleConfig {
    @include centralizar1();
    text-align: center;
    margin-top: -35vh;
    text-transform: uppercase;

    h3 {
        font-family: 'Open Sans';
    }

    p {
        margin-top: 1vh;
        color: #818189;

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    background-image: url(assets/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    .blackOpacity {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
    }

    nav {
        position: absolute;
        width: 100vw;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        img {
            display: flex;
            align-items: center;
            margin-left: 6vw;
        }

        ul {
            display: flex;
            width: 45vw;
            text-align: center;
            margin-left: 15%;

            li {
                list-style: none;
                margin-left: 2.5vw;
                @include centralizar2();

                a {
                    color: #818189;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .iconsMenu {
            position: relative;
            display: flex;
            margin-left: 1%;

            div {
                @include centralizar3();
                margin-left: -4.5vw;
                width: 11vw;

                img {
                    width: 1.3vw;
                }

                p {
                    text-transform: uppercase;
                    color: #818189;
                    margin-left: 0.5vw;
                }
            }
        }
    }

    .inspire {
        @include centralizar1();
        text-align: center;
        margin-top: 7vh;

        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 10rem;
            font-family: 'Montserrat';
            letter-spacing: 1.5vw;
        }

        p {
            color: gray;
            font-size: 1.7rem;
            font-family: 'Open Sans';
            text-transform: uppercase;
            margin-top: 5vh;
        }

        a {
            text-decoration: none;
            color: black;

            .botao {
                @include centralizar4();
                background-color: white;
                font-weight: bold;
                font-family: 'Open Sans';
                font-size: 1rem;
                text-transform: uppercase;
                text-align: center;
                margin-top: 5vh;
                height: 4vh;
                width: 20vw;
            }
        }
    }
}

main {
    #whatWeDo {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: whitesmoke;

        .whatTitle {
            @include titleConfig();
        }

        .grid {
            @include centralizar1();
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-top: 10vh;

            .iten {
                width: 35vw;
                height: 30vh;
                background-color: white;
                box-shadow: 5px 5px 10px gray;
                display: flex;

                &:hover {
                    transform: scale(1.1);
                    transition-duration: 1s;
                }

                img {
                    width: 14vw;
                    height: 30vh;
                }

                div {
                    text-transform: uppercase;

                    h3 {
                        margin-top: 3vh;
                        margin-left: 2vw;
                        font-family: 'Montserrat';
                    }

                    p {
                        font-family: 'Open Sans';
                        color: #818189;
                        margin-left: 2vw;
                        margin-top: 1.5vh;
                        font-size: 0.8rem;
                    }

                    a {
                        position: absolute;
                        font-family: 'Open Sans';
                        color: #818189;
                        font-weight: bolder;
                        text-decoration: none;
                        margin-top: 9vh;
                        margin-left: 7vw;
                    }
                }
            }
        }
    }

    #workProcess {
        position: relative;
        height: 100vh;

        .workTitle {
            @include titleConfig();
        }

        .grid {
            @include centralizar1();
            margin-top: 1vh;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 100px;

            .iten {
                position: relative;
                height: 45vh;
                margin-left: 5vh;

                .numero {
                    font-size: 12rem;
                    color: #b4b4b4;
                    position: absolute;
                    margin-top: 2vh;
                }

                h3 {
                    position: absolute;
                    font-size: 1.7rem;
                    margin-top: 14.5vh;
                    margin-left: 9vw;
                    text-transform: uppercase;
                    font-family: 'Open Sans';
                }

                .text {
                    text-align: center;
                    font-family: 'Open Sans';
                    color: black;
                    margin-top: 32vh;
                    margin-left: 1vw;
                }
            }
        }

        .freeQuote {
            @include centralizar1();
            @include centralizar2();
            position: absolute;
            background-color: #000;
            color: white; 
            width: 15vw;
            height: 5vh;
            margin-top: 40vh;
            text-transform: uppercase;
            text-align: center;
        }
    }

    #promo {
        height: 100vw;
        background-color: whitesmoke;
        .cima {
            .grid {
                display: grid;
                position: relative;
                grid-template-columns: 1fr;
                gap: 10px;
                .iten {
                    background-color: red;
                    margin-left: 2vw;
                    h3{
                        font-family: 'Open Sans';
                        text-transform: uppercase;
                    }
                    p {
    
                    }
                }
            }
        }
    }
}