@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
    font-size: 16.5%;
}


#container {
    display: flexbox;
    header {
        background-image: url(images/hero.jpg);
        background-repeat: no-repeat;
        background-size: 100vw;
        width: 100%;
        height: 90vh;
        .logoArea {
            position: relative;
        .logo {
            width: 10vw;
            height: 25vh;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            margin-top: 25vh;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            margin-top: 49vh;
            color: whitesmoke;
            font-family: 'Raleway', sans-serif;
        }
        p{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            margin-top: 60vh;
            color: whitesmoke;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-size: 1.4rem;
        }
        }
    }
    #products {
        width: 100%;
        height: 110vh;
        .textCircle{
            position: relative;
            border-radius: 50%;
            pre {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: 8%;
                margin-right: -50%;
                transform: translate(-65%, -50%);
                text-align: center;
                color: white;
                font-size: 1.1rem;
                font-family: 'Raleway', sans-serif;
            }
        }
        .circleIMG {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: -10%;
        }
        .productsArea{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            margin-left: 20vw;
            margin-top: 5vh;
            width: 60vw;
            font-family: 'Raleway', sans-serif;
            .imageCupcake {
                width: 8vw;
                margin-left: 6vw;
            }
            .imageCroissant {
                width: 10vw;
                margin-top: 2vh;
                margin-left: 5vw;
            }
            .imageCoffee {
                width: 12vw;
                margin-top: 2vh;
                margin-left: 3vw;
            }
            h2 {
                text-align: center;
                font-size: 1.6rem;
            }
            p {
                text-align: center;
                font-size: 1.5rem;
            }
           }
        }
        #menu {
            width: 100%;
            height: 130vh;
            background-image: url(images/menubg.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100vw;
            font-size: 1.5rem;
            .titleMenu {   
                color: white;
                font-family: 'Raleway', sans-serif;
                position: absolute;
                margin-top: 10vh;
                margin-left: 43vw;
                .imageMenu {
                    width: 15vw;
                }
                h2 {
                    position: absolute;
                    margin-top: 5vh;
                    margin-left: 4.2vw;
                    font-size: 2rem;
                }
            }
            .menuArea {
                position: absolute;
                background-color: transparent;
                width: 60vw;
                height: 75vh;
                margin-top: 40vh;
                margin-left: 20vw;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2vw;
                .menuPage {
                    background-color: transparent;
                    border-style: double;
                    border-color: #3f3f3f;
                    h2 {
                        color: #fc5d23;
                        text-decoration: underline;
                        margin-left: 2vw;
                    }
                    h3 {
                        text-transform: uppercase;
                        color: white;
                        margin-left: 2vw;
                        font-weight: bold;
                        font-size: 1.1rem;
                    }
                    .itenDescrition {
                        color: gray;
                        font-size: 0.8rem;
                        margin-left: 2vw;
                        margin-top: -8px;
                    }
                    .itenPrice {
                        position: absolute;
                        color: white;
                        margin-left: 25vw;
                        margin-top: -7vh;
                        font-weight: bold;
                    }
                }
            }
        }
        #about {
            width: 100%;
            height: 100vh;
            background-image: url(images/aboutbg.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100vw;
            h2 {
                position: absolute;
                margin-top: 20vh;
                margin-left: 20vw;
                color: #f7551b;
                font-size: 3rem;
                font-family: 'Raleway', sans-serif;
            }
            p {
                position: absolute;
                color: #3f3f3f;
                margin-top: 40vh;
                margin-left: 20vw;
                font-size: 1.5rem;
            }
            img {
                margin-top: 80vh;
                margin-left: 20vw;
            }
        }
        #gallery {
            width: 100%;
            height: 70vh;
            background-image: url(images/gallerybg.jpg);
            background-repeat: no-repeat;
            background-size: 100vw;
            h2 {
                position: absolute;
                color: #f7551b;
                margin-top: -15vh;
                margin-left: 27vw;
                font-size: 3rem;
            }
            .menuGallery {
                position: absolute;
                width: 15vw;
                height: 40vh;
                background-color: transparent;
                border-style: double;
                border-color: #3f3f3f;
                margin-left: 25vw;
                font-size: 1.3rem;
                ul {
                    text-align: center;
                    list-style: none;
                    li {
                        margin-top: 1vh;
                        font-style: italic;
                        margin-left: -3vw;
                        &:hover {
                            color: #f7551b;
                        }
                    }
                }
            }
            .galleryArea {
                width: 45vw;
                height: auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-left: 45vw;
                margin-top: 30vh;
                img {
                    width: 15vw;
                    height: 22vh;
                }
            }
        }
        #journal {
            width: 100%;
            height: 145vh;
            background-image: url(images/journalbg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100vw;
            font-size: 1.2rem;
            .journalBotton {
                position: absolute;
                color: #f8885f;
                border-color: #f8885f;
                border-style: solid;
                width: 8vw;
                text-align: center;
                margin-top: 135vh;
                margin-left: 43vw;
            }
            h2 {
                position: absolute;
                color: #f8885f;
                margin-top: 20vh;
                margin-left: 20vw;
                font-size: 3rem;
            }
            .gridJournal {
                position: absolute;
                width: 45vw;
                height: auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-left: 17vw;
                margin-top: 35vh;
                div {
                    width: 20vw;
                    height: 30vh;
                    background-color: white;
                    .textPostTitle {
                        font-size: 1.25rem;
                        margin-top: 9vh;
                        margin-left: 2.5vh;
                    }
                    .title2 {
                        position: absolute;
                        width: 10vw;
                        margin-left: 2vw;
                        margin-top: 5vh;
                        font-size: 0.94rem;
                        text-align: center;
                    }
                    .textPost {
                        background-color: transparent;
                        position: absolute;
                        margin-top: 1vh;
                    }
                    .whiteBackground {
                        position: absolute;
                        background-color: #ffffff9a;
                        .title1 {
                            position: absolute;
                            width: 10vw;
                            margin-left: 9vw;
                            margin-top: 20vh;
                            font-size: 0.94rem;
                            text-align: center;
                        }
                        .blogPostTitle {
                            position: absolute;
                            margin-top: 25vh;
                            margin-left: 4.3vw;
                            font-size: 1.25rem;
                        }
                    }
                    p {
                        background-color: #f7551b;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
            }
        }
    }
    #reservations {
        background-image: url(images/reservationbg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100vw;
        width: 100%;
        height: 120vh;
        font-size: 1.4rem;
        .phoneContact {
            position: absolute;
            font-weight: bold;
            margin-top: 65vh;
            margin-left: 15vw;
            border: 8px double;
            width: 20vw;
            p {
                margin-left: 5vw;
                font-size: 1.2rem;
            }
            img {
                position: absolute;
                width: 3vw;
                margin-top: 4vh;
                margin-left: 1vw;
            }
        }
        h2 {
            position: absolute;
            color: #f7551b;
            font-size: 3rem;
            margin-left: 16vw;
            margin-top: 17vh;
        }
        #reservationForm {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 50vw;
            height: 75vh;
            margin-top: 30vh;
            margin-left: 40vw;
            border: 8px double;
            img {
                position: absolute;
                width: 11vw;
                margin-top: 61.5vh;
                margin-left: 5vw;
            }
            #makeReservation {
                font-weight: bold;
                text-transform: uppercase;
                background-color: white;
                grid-column: 1/3;
            }
            #mensageOfClient {
                grid-column: 1/3;
            }
        }
        .reservationText {
            position: absolute;
            margin-top: 35vh;
            margin-left: 16vw;
        }
    }
    #contact {
        width: 100%;
        height: 130vh;
        background-image: url(images/contactbg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100vw;
        h2 {
            position: absolute;
            color: #f7551b;
            font-size: 3rem;
            margin-left: 20vw;
            margin-top: 15vh;
        }
        .map {
            position: absolute;
            width: 25vw;
            height: 52vh;
            margin-top: 70vh;
            margin-left: 13vw;
        }
        .contacts {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 13vw;
            margin-top: 30vh;
            margin-left: 20vw;
            font-size: 1.3rem;
            img {
                width: 2vw;
                margin-top: 2vh;
                margin-left: -3vw;
            }
        }
        .redes {
            position: absolute;
            margin-top: 60vh;
            margin-left: 20vw;
            img {
                width: 2vw;
                margin-left: 1vw;
            }
        }
        #contactForm {
            position: absolute;
            display: grid;
            width: 40vw;
            height: 90vh;
            margin-top: 30vh;
            margin-left: 40vw;
            border: 8px double;
            #sendMessage {
                text-align: center;
                text-transform: uppercase;
                background-color: white;
                font-weight: bold;
            }
            img {
                position: absolute;
                width: 15vw;
                margin-top: 72vh;
                margin-left: 5vw;
            }
        }
    }
    footer {
        width: 100%;
        height: 55vh;
        background-image: url(images/footerbg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100vw;
        img {
            width: 2vw;
            margin-left: 1vw;
        }
        h4 {
            position: absolute;
            color: white;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        .latestJournal {
            color: #f8885f;
            position: absolute;
            margin-left: 60vw;
            width: 25vw;
            margin-top: 25vh;
            p {
                margin-top: 10vh;
                font-size: 1.3rem;
            }
        }
        .openHours {
            color: white;
            position: absolute;
            margin-top: 5vh;
            margin-left: 60vw;
            p {
                margin-top: 10vh;
                font-size: 1.25rem;
            }
        }
        .socialMedias {
            position: absolute;
            margin-top: 43vh;
            margin-left: 3vw;
            h4 {
                position: absolute;
                margin-top: -8vh;
                margin-left: 1vw;
            }
        }
        .customMenu {
            position: absolute;
            margin-left: 40vw;
            margin-top: 12vh;
            font-size: 1.3rem;
            width: 10vw;
            h4 {
                color: white;
            }
            ul {
                text-decoration: none;
                margin-top: 8vh;
                li {
                    list-style: none;
                    a {
                        color: #f7551b;
                        text-decoration: none;
                    }
                }
            }
        }
        .latestTweets {
            position: absolute;
            font-size: 1.5rem;
            margin-left: 5vw;
            margin-top: 4vh;
            width: 25vw;
            p {
                position: absolute;
                margin-top: 8vh;
                color: #fc5d23;
            }
        }
    }
}
