@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Bold:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@mixin centralizar1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@mixin centralizar2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centralizar3 {
    display: flex;
    align-items: center;
}

@mixin centralizar4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin centralizar5 {
    display: flex;
    justify-content: center;
}
@mixin centralizar6 {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@mixin titleConfig {
    @include centralizar4();
    @include centralizar6();    
    text-align: center;
    text-transform: uppercase;
    margin-top: 10vh;
    h3 {
        font-family: 'Open Sans';
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
    }

    p {
        margin-top: 1vh;
        color: gray;
        font-size: 1.6rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    background-image: url(assets/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    .blackOpacity {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
    }

    nav {
        position: relative;
        width: 100vw;
        display: flex;
        font-weight: bold;
        img {
            display: flex;
            align-items: center;
            margin-left: 6vw;
        }

        ul {
            position: relative;
            display: flex;
            width: 45vw;
            text-align: center;
            margin-left: 10vw;

            li {
                list-style: none;
                margin-left: 2.5vw;
                @include centralizar2();
                a {
                    color: gray;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 1.6rem;
                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .iconsMenu {
            position: relative;
            display: flex;

            div {
                @include centralizar2();
                margin-left: -3vw;
                width: 11vw;

                img {
                    width: 1.3vw;
                }

                p {
                    text-transform: uppercase;
                    color: gray;
                    margin-left: 0.5vw;
                    font-size: 1.6rem
                }
            }
        }
    }

    .inspire {
        @include centralizar1();
        text-align: center;

        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 15rem;
            font-family: 'Open Sans';
            letter-spacing: 1rem;
        }

        p {
            color: gray;
            font-size: 1.7rem;
            font-family: 'Open Sans';
            text-transform: uppercase;
            margin-top: 5vh;
        }

        a {
            text-decoration: none;
            color: black;

            .botao {
                @include centralizar2();
                @include centralizar1();
                background-color: white;
                font-weight: bold;
                font-size: 1.3rem;
                text-transform: uppercase;
                text-align: center;
                margin-top: 25vh;
                height: 4vh;
                width: 10vw;
            }
        }
    }
}

main {
    #whatWeDo {
        position: relative;
        height: 100vh;
        width: 100vw;
        background-color: whitesmoke;

        .whatTitle {
            @include titleConfig();
        }

        .grid {
            @include centralizar1();
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .iten {
                width: 35vw;
                height: 30vh;
                background-color: white;
                box-shadow: 5px 5px 10px gray;
                display: flex;

                &:hover {
                    transform: scale(1.1);
                    transition-duration: 1s;
                }

                img {
                    width: 14vw;
                    height: 30vh;
                }

                div {
                    text-transform: uppercase;

                    h3 {
                        margin-top: 3vh;
                        margin-left: 2vw;
                        font-family: 'Open Sans';
                        font-size: 2rem;
                    }

                    p {
                        color: gray;
                        margin-left: 2vw;
                        margin-top: 1.5vh;
                        font-size: 1.6rem;
                        width: 18vw;
                    }

                    a {
                        position: absolute;
                        color: gray;
                        font-weight: bold;
                        text-decoration: none;
                        margin-top: 5vh;
                        margin-left: 7vw;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    #workProcess {
        position: relative;
        height: 80vh;

        .workTitle {
            @include titleConfig();
        }

        .grid {
            @include centralizar1();
            @include centralizar2();
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2vw;
            margin-top: -10vh;

            .iten {
                @include centralizar2();
                position: relative;
                height: 45vh;

                .numero {
                    font-size: 18rem;
                    color: #b4b4b4;
                    position: absolute;
                    margin-top: 2vh;
                }

                h3 {
                    position: absolute;
                    font-size: 3rem;
                    margin-left: 10vw;
                    text-transform: uppercase;
                    font-family: 'Open Sans';
                }

                .text {
                    z-index: 10;
                    font-size: 1.6rem;
                    color: black;
                    margin-top: 30vh;
                    margin-left: 10vw;
                    width: 15vw;
                    font-weight: bold
                }
            }
        }

        .freeQuote {
            @include centralizar1();
            @include centralizar2();
            position: absolute;
            background-color: #000;
            color: white;
            width: 15vw;
            height: 5vh;
            margin-top: 25vh;
            margin-left: 3vw;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.6rem;
        }
    }

    #promo {
        position: relative;

        .cima {
            height: 60vh;
            background-color: whitesmoke;

            .grid {
                display: grid;
                position: absolute;
                grid-template-columns: 1fr;
                gap: 10px;
                height: 60vh;
                background-color: white;

                .iten {
                    background-color: white;

                    &:hover {
                        transition-duration: 0.5s;
                        border-left: 4px solid #000;
                        background-color: whitesmoke;
                    }

                    h3 {
                        letter-spacing: 0.5vw;
                        font-family: 'Open Sans';
                        font-size: 1.7rem;
                        text-transform: uppercase;
                        margin-left: 4vw;
                        margin-top: 1vh;
                    }

                    p {
                        font-family: 'Montserrat';
                        margin-top: 2.5vh;
                        font-size: 1.6rem;
                        margin-left: 4vw;
                    }
                }
            }

            .areaPromo {
                position: absolute;
                width: 65vw;
                height: 60vh;
                background-color: whitesmoke;
                margin-left: 27.4vw;

                .textPromo {
                    width: 25vw;
                    margin-top: 15vh;
                    margin-left: 5vw;

                    h3 {
                        text-transform: uppercase;
                        font-family: 'Montserrat';
                        font-size: 2.5rem;
                    }

                    p {
                        margin-top: 2vh;
                        font-size: 1.6rem;
                    }
                }

                img {
                    position: absolute;
                    width: 32vw;
                    margin-left: 32vw;
                    margin-top: -35vh;
                }
            }
        }

        .baixo {
            position: relative;
            height: 40vh;
            background-image: url(assets/progress_bg.jpg);
            background-position: center;
            background-size: cover;

            .grid {
                @include centralizar1();
                display: flex;
                margin-left: -5vw;

                div {
                    margin-left: 10vw;
                    text-align: center;

                    p {
                        text-transform: uppercase;
                        color: white;
                        font-size: 1.6rem;
                        margin-top: 1vh;
                    }
                }
            }
        }
    }

    #peopleSay {
        height: 120vh;
        position: relative;
        background-color: whitesmoke;

        .sayTitle {
            @include titleConfig();
        }

        .grid {
            display: flex;
            position: absolute;
            @include centralizar1();

            .iten {
                position: relative;
                background-color: white;
                width: 25vw;
                height: 60vh;
                margin-left: 3vw;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 20px gray;
                    transition-duration: 0.5s;
                }

                hr {
                    margin-top: 2vh;
                    @include centralizar4();
                    width: 20vw
                }

                img {
                    @include centralizar4();
                    border-radius: 50%;
                    width: 7vw;
                    margin-top: 3vh;
                }

                p {
                    @include centralizar4();
                    text-align: center;
                    width: 20vw;
                    color: #818189;
                    margin-top: 2vh;
                    font-family: 'Montserrat';
                    font-size: 1.6rem;
                }

                .upper {
                    text-transform: uppercase;
                    color: #000;

                }
            }
        }

        .imageGrid {
            display: flex;
            @include centralizar1();
            @include centralizar5();
            background-color: hsl(0, 0%, 99.8%);
            margin-top: 50vh;
            width: 100vw;

            img {
                margin-left: 2vw;
            }
        }
    }

    #projects {
        height: 100vh;
        position: relative;

        .projectsTitle {
            @include titleConfig();
        }

        nav {
            position: absolute;
            @include centralizar1();
            margin-top: -25vh;

            ul {
                display: flex;

                li {
                    list-style: none;
                    margin-left: 2.5vw;
                    width: 12vw;
                    text-align: center;

                    &:hover {
                        background-color: #000;

                        a {
                            color: white;
                        }
                    }

                    a {
                        font-style: none;
                        text-decoration: none;
                        color: black;
                        text-transform: uppercase;
                        font-family: 'Opera Sans';
                        font-weight: bold;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .grid {
            @include centralizar1();
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 15vh;

            img {
                width: 22vw;

                &:hover {
                    transform: scale(1.15);
                    transition-duration: 1s;
                }
            }
        }
    }

    #getIn {
        position: relative;
        height: 50vh;
        background-image: url(assets/geometric_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;

        .blackOpa {
            position: absolute;
            width: 100vw;
            height: 50vh;
            background-color: #000;
            opacity: 0.5;
        }

        h3 {
            @include centralizar1();
            position: absolute;
            color: white;
            text-transform: uppercase;
            font-family: 'Opera Sans';
            font-size: 2.5rem;
        }

        a {
            @include centralizar1();
            @include centralizar2();
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Opera Sans';
            font-weight: bold;
            position: absolute;
            background-color: white;
            color: #000;
            width: 15vw;
            height: 5vh;
            margin-top: 10vh;
            font-size: 1.6rem;
        }
    }
    #blog {
        position: relative;
        height: 100vh;
        background-color: whitesmoke;
        .blogTitle {
            @include titleConfig();
        }
        .grid {
            @include centralizar1();
            display: flex;
            margin-top: 5vh;
            position: absolute;
            text-align: center;
            .iten {
                position: relative;
                width: 25vw;
                height: 65vh;
                margin-left: 2vw;
                background-color: white;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 20px gray;
                    transition-duration: 0.5s;
                }
                div {
                    display: flex;
                    p {
                        margin-left: 3vw;
                        margin-top: 1vh;
                        color: gray;
                        font-size: 1.5rem;
                    }
                }
                h3 {
                    text-transform: uppercase;
                    font-family: 'Open Sans';
                    margin-top: 1vh;
                    font-size: 2rem;
                }
                p {
                    margin-top: 1vh;
                    color: gray;
                    font-size: 1.6rem;
                }
                a {
                    @include centralizar6();
                    position: absolute;
                    background-color: #000;
                    text-transform: uppercase;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    width: 10vw;
                    height: 3vh;
                    margin-top: 4vh;
                    margin-left: -3vw;
                    text-decoration: none;
                    font-size: 1.6rem;
                }
                img {
                    width: 25vw;                    
                }
            }
        }
    }
}