* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flexbox;
    background-color: whitesmoke;
}


header {
    width: 100%;
    height: 7vh;
    box-shadow: 5px 5px 7.5px gray;

    .menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 13vw;
        margin-top: 8vh;

        ul {
            display: flex;
            margin-top: -2.5vh;

            li {
                margin-left: 3vw;
                list-style: none;

                a {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3rem;

                    &:hover {
                        border-bottom: 5px dotted orange;
                        margin-top: 2vh;
                    }
                }
            }
        }
    }

    .logotipe {
        position: absolute;
        width: 5vw;
        margin-left: 5vw;

        .logo {
            z-index: 2;
            position: absolute;
            margin-top: -2.3vh;
            margin-left: 1.9vw;
            color: white;
            width: 1vw;
        }

        img {
            position: absolute;
            margin-top: -4vh;
            margin-left: 1vw;
        }

        .logo2 {
            position: absolute;
            margin-left: 4vw;
            margin-top: -2vh;
        }
    }
}


main {
    height: 120vh;

    .lateralImages {
        display: grid;
        position: absolute;
        margin-top: 50vh
    }

    .textMain {
        position: absolute;
        width: 35vw;
        margin-left: 25vw;
        margin-top: 35vh;
        background-color: whitesmoke;

        .titleMain {
            font-size: 5em;
        }

        .bold {
            font-size: 8.5em;
            font-weight: bold;
            text-transform: uppercase;
        }

        .verticalWelcome {
            position: absolute;
            transform: rotate(-90deg);
            font-size: 2rem;
            margin-left: -20%;
            margin-top: 12.5vh;
        }

        .textMain {
            position: absolute;
            margin-top: -1vh;
            margin-left: -2vw;
        }

    }

    .verticalOrange1 {
        background-color: #ffb325;
        border: solid #ffb325;
        z-index: 0;
        width: 2vw;
        height: 30vh;
        position: absolute;
        margin-left: 23vw;
        margin-top: 2vh;
    }

    .verticalOrange2 {
        background-color: #ffb325;
        border: solid #ffb325;
        z-index: 0;
        width: 40vw;
        height: 4vh;
        position: absolute;
        margin-top: 29vh;
        margin-left: 23vw;
    }

    .verticalOrange3 {
        background-color: #ffb325;
        border: solid #ffb325;
        z-index: 0;
        width: 2vw;
        height: 50vh;
        position: absolute;
        margin-top: 29vh;
        margin-left: 62vw;
    }

    .verticalOrange4 {
        background-color: #ffb325;
        border: solid #ffb325;
        z-index: 0;
        width: 40vw;
        height: 4vh;
        position: absolute;
        margin-top: 75vh;
        margin-left: 23vw;
    }

    .verticalOrange5 {
        background-color: #ffb325;
        border: solid #ffb325;
        z-index: 0;
        width: 2vw;
        height: 35vh;
        position: absolute;
        margin-left: 23vw;
        margin-top: 78vh;

    }

}

#about {
    height: 120vh;

    .aboutArea {

        .titleArea {
            display: flex;
            margin-left: 15vw;
            height: 12vh;
            width: 22vw;
            border-bottom: 10px double orange;
            border-right: 10px double orange;

            h2 {
                font-size: 3.5em;
                margin-left: 1vw;
            }

            .orange {
                color: orange;
            }

            .titleDescrition {
                position: absolute;
                margin-top: 7vh;
                margin-left: 1vw;
                color: gray;
            }
        }

        .imagesAbout {
            position: absolute;
            margin-left: 76vw;
            margin-top: -15vh;

            .imageAbout2 {
                width: 20vw;
            }

            .imageAbout1 {
                width: 20vw;
                margin-top: -30vh;
                margin-left: -10vw;
            }
        }
    }

    .textArea {
        margin-top: 5vh;
        margin-left: 15vw;
        width: 50vw;
        font-size: 1.3em;

        p {
            margin-top: 5vh;
        }

        .bold {
            font-weight: bold;
        }

        .orange {
            color: #ffb325;
            font-weight: bold;
        }
    }

    .skills {
        position: absolute;
        display: flex;
        margin-top: 15vh;
        width: 55vw;
        margin-left: 18vw;
        text-align: center;

        p {
            margin-top: 2vh;
        }

        div {
            margin-left: 5vw;
        }

        h3 {
            font-weight: bold;
            font-size: 1.4em;
            margin-top: 2vh;
        }

        .arrows {
            margin-top: 2vh;
        }
    }
}

.loremIpsum {
    background-color: #302f2f;
    height: 35vh;

    .centerLorem {
        z-index: 2;
        color: white;
        background-color: #ffb325;
        width: 35vw;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h3 {
            position: absolute;
            margin-top: 6vh;
            margin-left: 12vw;
            font-size: 1.7em;
        }

        p {
            position: absolute;
            margin-top: 15vh;
            width: 35vw;
        }
    }

    .lorem1 {
        color: #302f2f;
        background-color: white;
        position: absolute;
        width: 31.9vw;
        height: 5vh;
        margin-top: 15vh;
        text-align: center;
    }

    .lorem2 {
        color: #302f2f;
        background-color: white;
        position: absolute;
        width: 31.89vw;
        height: 5vh;
        margin-top: 15vh;
        margin-left: 66.9vw;
        text-align: center;
    }

}

#services {
    height: 95vh;

    .servicesTitle {
        display: flex;
        position: absolute;
        margin-top: 5vh;
        margin-left: 5vw;
        width: 50vw;

        p {
            position: absolute;
            margin-top: 7.5vh;
            margin-left: 0.5vw;
            font-size: 1.3em;
        }

        h2 {
            margin-left: 0.5vw;
            font-size: 3.5em;
        }

        .orange {
            color: #ffb325;
        }
    }

    .competences {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5vw;
        row-gap: 5vh;
        position: absolute;
        width: 70vw;
        margin-top: 40vh;
        margin-left: 5vw;

        img {
            position: absolute;
            margin-top: -1vh;
        }

        h3 {
            font-size: 1.5em;
            text-transform: uppercase;
            color: gray;
            margin-left: 3vw;
        }

        p {
            margin-top: 2vh;
        }
    }

    .gearsBlack {
        position: absolute;
        margin-left: 75vw;
        margin-top: 20vh;
    }
}

#work {
    display: flex;
    background-color: #302f2f;
    height: 30vh;

    h4 {
        color: white;
        font-size: 3em;
        margin-left: 5vw;
        margin-top: 5vh;
    }

    .subTitle {
        font-size: 1.8em;
        color: #ffb325;
        margin-left: 11vh;
    }

    p {
        color: gray;
        margin-top: 1vh;
        margin-left: 11vh;
    }

    img {
        height: 20vh;
        margin-top: 5vh;
    }

    form {
        margin-left: 10vw;

        #emailAddress {
            position: absolute;
            background-color: #444343;
            border: solid #444343;
            color: gray;
            margin-left: -6vw;
            margin-top: 12vh;
            height: 5vh;
            width: 15vw;
        }

        #subscribe {
            position: absolute;
            height: 30vh;
            width: 25vw;
            background-color: #ffb325;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.3em;
            border: solid transparent;
            border-left: solid black;
            margin-left: 10.42vw;
        }
    }
}

#portifolio {
    height: 155vh;
    margin-top: 5vh;
    
    .titleArea {
        display: flex;
        margin-left: 5vw;
        .orange {
            color: #ffb325;
        }

        h2 {
            margin-left: 0.5vw;
            font-size: 3.5em;
        }

        p {
            position: absolute;
            margin-top: 7vh;
            margin-left: 1vw;
        }
    }

    .nextPrev {
        margin-top: 20vh;
    }

    .portifolioGrid {
        position: absolute;
        margin-top: 10vh;

        .projectDemo {
            background-color: rgb(85, 85, 85);
            color: white;
            position: absolute;
            margin-left: 42vw;
            margin-top: 33vh;
            width: 20.3vw;
            height: 64.5vh;
        }
        .img1 {
            position: absolute;
            margin-left: 20.5vw;
            margin-top: 0.5vh;
        }

        .img2 {
            position: absolute;
            margin-left: 36.5vw;
            margin-top: 0.5vh;
        }

        .img3 {
            position: absolute;
            margin-top: 33vh;
            margin-left: 20.5vw;
        }

        .img4 {
            position: absolute;
            margin-left: 63.5vw;
            margin-top: 33vh;
        }

        .img5 {
            position: absolute;
            margin-top: 66vh;  
            margin-left: 20.5vw;                   
        }

        .img6 {
            position: absolute;  
            margin-left: 42vw; 
            margin-top: 100vh;         
        }

        .img7 {  
            position: absolute; 
            margin-left: 63.5vw; 
            margin-top: 66vh;    
        }

        .img8 {
            position: absolute;   
            margin-left: 69vw;  
            margin-top: 0.5vh;   
        }
    }

    .nextPrev {
        position: absolute;
        margin-left: 77vw;
        margin-top: -4vh;
        display: flex;

        p {
            font-size: 1.4em;
            margin-left: 1vw;
            text-transform: uppercase;
            color: gray;
        }

        .next {
            position: absolute;
            margin-top: 2vh;
            margin-left: 2.3vw;
        }


        .bar {
            font-size: 5em;
        }

        .prev {
            position: absolute;
            margin-left: -2.5vw;
            margin-top: 6vh;
        }

        .righArrow {
            position: absolute;
            margin-top: 6vh;
            margin-left: 2vw;
        }
        .leftArrow {
            position: absolute;
            margin-top: 1vh;
            margin-left: -3vw;
        }
    }
}