* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flexbox;
  background-color: whitesmoke;
}

header {
  width: 100%;
  height: 7vh;
  box-shadow: 5px 5px 7.5px gray;
}
header .menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 13vw;
  margin-top: 8vh;
}
header .menu ul {
  display: flex;
  margin-top: -2.5vh;
}
header .menu ul li {
  margin-left: 3vw;
  list-style: none;
}
header .menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}
header .menu ul li a:hover {
  border-bottom: 5px dotted orange;
  margin-top: 2vh;
}
header .logotipe {
  position: absolute;
  width: 5vw;
  margin-left: 5vw;
}
header .logotipe .logo {
  z-index: 2;
  position: absolute;
  margin-top: -2.3vh;
  margin-left: 1.9vw;
  color: white;
  width: 1vw;
}
header .logotipe img {
  position: absolute;
  margin-top: -4vh;
  margin-left: 1vw;
}
header .logotipe .logo2 {
  position: absolute;
  margin-left: 4vw;
  margin-top: -2vh;
}

main {
  height: 120vh;
}
main .lateralImages {
  display: grid;
  position: absolute;
  margin-top: 50vh;
}
main .textMain {
  position: absolute;
  width: 35vw;
  margin-left: 25vw;
  margin-top: 35vh;
  background-color: whitesmoke;
}
main .textMain .titleMain {
  font-size: 5em;
}
main .textMain .bold {
  font-size: 8.5em;
  font-weight: bold;
  text-transform: uppercase;
}
main .textMain .verticalWelcome {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 2rem;
  margin-left: -20%;
  margin-top: 12.5vh;
}
main .textMain .textMain {
  position: absolute;
  margin-top: -1vh;
  margin-left: -2vw;
}
main .verticalOrange1 {
  background-color: #ffb325;
  border: solid #ffb325;
  z-index: 0;
  width: 2vw;
  height: 30vh;
  position: absolute;
  margin-left: 23vw;
  margin-top: 2vh;
}
main .verticalOrange2 {
  background-color: #ffb325;
  border: solid #ffb325;
  z-index: 0;
  width: 40vw;
  height: 4vh;
  position: absolute;
  margin-top: 29vh;
  margin-left: 23vw;
}
main .verticalOrange3 {
  background-color: #ffb325;
  border: solid #ffb325;
  z-index: 0;
  width: 2vw;
  height: 50vh;
  position: absolute;
  margin-top: 29vh;
  margin-left: 62vw;
}
main .verticalOrange4 {
  background-color: #ffb325;
  border: solid #ffb325;
  z-index: 0;
  width: 40vw;
  height: 4vh;
  position: absolute;
  margin-top: 75vh;
  margin-left: 23vw;
}
main .verticalOrange5 {
  background-color: #ffb325;
  border: solid #ffb325;
  z-index: 0;
  width: 2vw;
  height: 35vh;
  position: absolute;
  margin-left: 23vw;
  margin-top: 78vh;
}

#about {
  height: 120vh;
}
#about .aboutArea .titleArea {
  display: flex;
  margin-left: 15vw;
  height: 12vh;
  width: 22vw;
  border-bottom: 10px double orange;
  border-right: 10px double orange;
}
#about .aboutArea .titleArea h2 {
  font-size: 3.5em;
  margin-left: 1vw;
}
#about .aboutArea .titleArea .orange {
  color: orange;
}
#about .aboutArea .titleArea .titleDescrition {
  position: absolute;
  margin-top: 7vh;
  margin-left: 1vw;
  color: gray;
}
#about .aboutArea .imagesAbout {
  position: absolute;
  margin-left: 76vw;
  margin-top: -15vh;
}
#about .aboutArea .imagesAbout .imageAbout2 {
  width: 20vw;
}
#about .aboutArea .imagesAbout .imageAbout1 {
  width: 20vw;
  margin-top: -30vh;
  margin-left: -10vw;
}
#about .textArea {
  margin-top: 5vh;
  margin-left: 15vw;
  width: 50vw;
  font-size: 1.3em;
}
#about .textArea p {
  margin-top: 5vh;
}
#about .textArea .bold {
  font-weight: bold;
}
#about .textArea .orange {
  color: #ffb325;
  font-weight: bold;
}
#about .skills {
  position: absolute;
  display: flex;
  margin-top: 15vh;
  width: 55vw;
  margin-left: 18vw;
  text-align: center;
}
#about .skills p {
  margin-top: 2vh;
}
#about .skills div {
  margin-left: 5vw;
}
#about .skills h3 {
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 2vh;
}
#about .skills .arrows {
  margin-top: 2vh;
}

.loremIpsum {
  background-color: #302f2f;
  height: 35vh;
}
.loremIpsum .centerLorem {
  z-index: 2;
  color: white;
  background-color: #ffb325;
  width: 35vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.loremIpsum .centerLorem h3 {
  position: absolute;
  margin-top: 6vh;
  margin-left: 12vw;
  font-size: 1.7em;
}
.loremIpsum .centerLorem p {
  position: absolute;
  margin-top: 15vh;
  width: 35vw;
}
.loremIpsum .lorem1 {
  color: #302f2f;
  background-color: white;
  position: absolute;
  width: 31.9vw;
  height: 5vh;
  margin-top: 15vh;
  text-align: center;
}
.loremIpsum .lorem2 {
  color: #302f2f;
  background-color: white;
  position: absolute;
  width: 31.89vw;
  height: 5vh;
  margin-top: 15vh;
  margin-left: 66.9vw;
  text-align: center;
}

#services {
  height: 95vh;
}
#services .servicesTitle {
  display: flex;
  position: absolute;
  margin-top: 5vh;
  margin-left: 5vw;
  width: 50vw;
}
#services .servicesTitle p {
  position: absolute;
  margin-top: 7.5vh;
  margin-left: 0.5vw;
  font-size: 1.3em;
}
#services .servicesTitle h2 {
  margin-left: 0.5vw;
  font-size: 3.5em;
}
#services .servicesTitle .orange {
  color: #ffb325;
}
#services .competences {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  row-gap: 5vh;
  position: absolute;
  width: 70vw;
  margin-top: 40vh;
  margin-left: 5vw;
}
#services .competences img {
  position: absolute;
  margin-top: -1vh;
}
#services .competences h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: gray;
  margin-left: 3vw;
}
#services .competences p {
  margin-top: 2vh;
}
#services .gearsBlack {
  position: absolute;
  margin-left: 75vw;
  margin-top: 20vh;
}

#work {
  display: flex;
  background-color: #302f2f;
  height: 30vh;
}
#work h4 {
  color: white;
  font-size: 3em;
  margin-left: 5vw;
  margin-top: 5vh;
}
#work .subTitle {
  font-size: 1.8em;
  color: #ffb325;
  margin-left: 11vh;
}
#work p {
  color: gray;
  margin-top: 1vh;
  margin-left: 11vh;
}
#work img {
  height: 20vh;
  margin-top: 5vh;
}
#work form {
  margin-left: 10vw;
}
#work form #emailAddress {
  position: absolute;
  background-color: #444343;
  border: solid #444343;
  color: gray;
  margin-left: -6vw;
  margin-top: 12vh;
  height: 5vh;
  width: 15vw;
}
#work form #subscribe {
  position: absolute;
  height: 30vh;
  width: 25vw;
  background-color: #ffb325;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  border: solid transparent;
  border-left: solid black;
  margin-left: 10.42vw;
}

#portifolio {
  height: 155vh;
  margin-top: 5vh;
}
#portifolio .titleArea {
  display: flex;
  margin-left: 5vw;
}
#portifolio .titleArea .orange {
  color: #ffb325;
}
#portifolio .titleArea h2 {
  margin-left: 0.5vw;
  font-size: 3.5em;
}
#portifolio .titleArea p {
  position: absolute;
  margin-top: 7vh;
  margin-left: 1vw;
}
#portifolio .nextPrev {
  margin-top: 20vh;
}
#portifolio .portifolioGrid {
  position: absolute;
  margin-top: 10vh;
}
#portifolio .portifolioGrid .projectDemo {
  background-color: #555555;
  color: white;
  position: absolute;
  margin-left: 42vw;
  margin-top: 33vh;
  width: 20.3vw;
  height: 64.5vh;
}
#portifolio .portifolioGrid .img1 {
  position: absolute;
  margin-left: 20.5vw;
  margin-top: 0.5vh;
}
#portifolio .portifolioGrid .img2 {
  position: absolute;
  margin-left: 36.5vw;
  margin-top: 0.5vh;
}
#portifolio .portifolioGrid .img3 {
  position: absolute;
  margin-top: 33vh;
  margin-left: 20.5vw;
}
#portifolio .portifolioGrid .img4 {
  position: absolute;
  margin-left: 63.5vw;
  margin-top: 33vh;
}
#portifolio .portifolioGrid .img5 {
  position: absolute;
  margin-top: 66vh;
  margin-left: 20.5vw;
}
#portifolio .portifolioGrid .img6 {
  position: absolute;
  margin-left: 42vw;
  margin-top: 100vh;
}
#portifolio .portifolioGrid .img7 {
  position: absolute;
  margin-left: 63.5vw;
  margin-top: 66vh;
}
#portifolio .portifolioGrid .img8 {
  position: absolute;
  margin-left: 69vw;
  margin-top: 0.5vh;
}
#portifolio .nextPrev {
  position: absolute;
  margin-left: 77vw;
  margin-top: -4vh;
  display: flex;
}
#portifolio .nextPrev p {
  font-size: 1.4em;
  margin-left: 1vw;
  text-transform: uppercase;
  color: gray;
}
#portifolio .nextPrev .next {
  position: absolute;
  margin-top: 2vh;
  margin-left: 2.3vw;
}
#portifolio .nextPrev .bar {
  font-size: 5em;
}
#portifolio .nextPrev .prev {
  position: absolute;
  margin-left: -2.5vw;
  margin-top: 6vh;
}
#portifolio .nextPrev .righArrow {
  position: absolute;
  margin-top: 6vh;
  margin-left: 2vw;
}
#portifolio .nextPrev .leftArrow {
  position: absolute;
  margin-top: 1vh;
  margin-left: -3vw;
}/*# sourceMappingURL=style.css.map */