@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}   

header {
    width: 100%;
    height: 100vh;
    .AreaMenuSuperior {
        background-color: #e2e2e2;
        display: flex;
        font-size: 0.8rem;
        text-transform: uppercase;
        height: 3vh;
        .blakeMedical {
            margin-left: 5vw;
        }
        .menuSuperior {
            margin-left: 30vw;
            ul {
                display: flex;
                li {
                    margin-left: 3vw;
                    list-style: none;
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .contractorHead {
        display: flex;
        .title {
            display: flex;
            margin-left: 3vw;
            img {
                margin-left: 2vw;
                margin-top: 3.5vh;
            }
            h1 {
                margin-left: 1vw;
                margin-top: 3.5vh;
                font-family: 'Dosis', sans-serif;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
        .searchPrice {
            display: flex;
            margin-left: 48vw;
            margin-top: 6vh;
            input {
                height: 4vh;
                border: 1px solid #e2e2e2;
            }
            div {
                display: flex;
                height: 4vh;
                margin-left: 1.5vw;
                margin-top: -0.5vh;
                p {
                    margin-top: 0.5vh;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-left: 0.5vw;
                    overflow-y: hidden;
                }
            }
        }
    }
    .areaMenuPrincipal {
        background-color: black;
        height: 25vh;
        margin-top: 4vh;
        width: 100vw;
        .menu {
            position: absolute;
            margin-left: 3vw;
            margin-top: 1vh;
            width: 55vw;
            ul {
                display: flex;
                li {
                    margin-left: 1.5vw;
                    margin-right: auto;
                    list-style: none;
                    text-align: center;
                    a {
                        color: #e2e2e2;
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 0.89rem;
                    }
                }
                .home {
                    color: orange;
                }
            }
        }
        .redesSociais {
            background-color: gray;
            width: 25vw;
            height: 5vh;
            transform: skew(-30deg);
            margin-left: 63vw;
            display: flex;
            div {
                background-color: #e2e2e2;
                border-radius: 50%;
                margin-left: 2vw;
                height: 4vh;
                width: 2.5vw;
                margin-top: 0.5vh;     
                &:hover {
                    background-color: orange;
                }       
                img {
                    width: 1.3vw; 
                    position: absolute;
                    top: 50%;
                    margin-left: 1.3vw;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .imageSection {
        margin-top: -15vh;
        .background {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: red;
            width: 45vw;
            width: 45vw;
        }
        .imageBackground {
            text-align: center;
            position: absolute;
            margin-top: -35vh;
            margin-left: 30vw;
            background-color: gray;
            height: 22vh;
            opacity: 0.9;
            h2 {
                text-transform: uppercase;
                color: white;
                font-size: 1.4rem;
            }
            p {
                font-size: 0.9rem;
                color: white;
            }
        }
        .menuImage {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e2e2e2;
            margin-left: auto;
            margin-right: auto;
            width: 45vw;
            height: 20vh;
            text-align: center;
            a {
                color: black;
                font-weight: bold;
                text-decoration: none;
                .orange {
                    background-color: orange;
                    color: white;
                }
                div {
                    background-color: #e2e2e2;
                    width: 100%;
                    height: 20vh;
                    img {
                        margin-top: 2.5vh;
                    }
                    p {
                        text-transform: uppercase;
                        margin-top: 3vh;
                        font-size: 0.9rem;
                    }
                    .abaixar {
                        margin-top: 5vh;
                    }
                }
            }
        }
    }
}
main {
    margin-top: 3vh;
    .openingHours {
        display: flex;
        .homem {
            width: 35vw;
            margin-left: -5vw;
        }
        .signatureDiv {
            width: 30vw;
            height: 60vh;
            text-align: center;
            margin-top: 1vh;
            h3 {
                text-transform: uppercase;
                font-weight: bold;
            }
            p {
                margin-top: 3vh;
                color: gray;
            }
            img {
                margin-left: -15vw;
                width: 10vw;
            }
        }
        .horarioFuncionamento {
            margin-left: 4vw;
            height: 50vh;
            width: 21vw;
            h3 {
                text-transform: uppercase; 
                margin-top: 1vh;               
                margin-left: 1vw;               
            }
            hr {
                margin-left: auto;
                margin-right: auto;
                border: dotted 3px gray;
                height: 1px; 
                margin-top: 1vh;  
            }
            .hourGrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 5vh;
                margin-left: 1vw;
                color: gray;
            }
        }
        .download {
            display: flex;
            margin-top: 40vh;
            margin-left: -20vw;
            height: 7vh;
            width: 17.5vw;
            background-color: #bdbdbd;
            img {
                width: 2.5vw;
                height: 5vh;
                margin-top: 1vh;
                margin-left: 0.5rem;
            }
            p {
                margin-left: 0.5vw;
                margin-top: 2vh;
                text-transform: uppercase;
                font-size: 0.8rem;
            }
        }
    }
    #aboutUs {
        height: 70vh;
        background-color: #e2e1e1;
        display: flex;
        .hrSkills {
            background-color: black;
            border: solid 1px black;
            height: 60vh;
            margin-top: 2vh;
            margin-left: 21.89vw;
        }
        .skills {
            position: absolute;
            text-transform: uppercase;
            margin-top: 5vh;
            margin-left: 4vw;
            width: 18vw;
            height: 36vh;            
            p {
                text-align: center;
                height: 6vh;
                font-size: 0.8rem;
                &:hover {
                    border-right: solid 3px orange;
                    font-size: 1.1rem;
                    transition:  0.5s;
                }
            }
        }
        .whatWeDo {
            width: 50vw;
            p {
                color: gray;
                margin-left: 5vw;
                margin-top: 1vh;
            }
            .frente {
                margin-left: 7vw;
                margin-top: 2vh;
            }
            h3 {
                text-transform: uppercase;
                margin-left: 5vw;
                margin-top: 4vh;
            }
            img {
                width: 30vw;
                height: 22vh;
                margin-left: 5vw;
                margin-top: 2vh;
                border-radius: 10% 10% 10% 10%;
            }
        }
        .chooseUs {
            width: 22vw;
            height: 66vh;
            margin-top: 3vh;
            background-color: white;
            border-radius: 10% 10% 10% 10%;
            .hrPrimaria {
                border:  5px gray;
                border-style: dashed;
                transform: skew(-25deg);
            }
            hr {     
                width: 19vw;           
                border:  2px gray;
                border-style: dashed;
                transform: skew(-25deg);
                margin-left: auto;
                margin-right: auto;
            }
            h3{
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 2vh;
                margin-left: 1vw;
            }
            p {
                font-size: 0.8rem;
                margin-top: 2vh;
                margin-left: 1vw;
                color: gray;
            }
            hr {
                margin-top: 2vh;
            }
        }
    }
}