@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  color: #fcd284;
}

*::selection {
  color: #fcd284;
}

header {
  width: 100%;
  height: 105vh;
}
header .fixaMenu {
  height: 9vh;
  background-color: white;
}
header .fixaMenu .logoSection {
  position: relative;
  top: 2.5vh;
  left: 2vw;
  width: 3vw;
}
header .fixaMenu .logoSection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header .fixaMenu .menuSection {
  background-color: white;
  position: absolute;
  margin-left: 45vw;
  margin-top: -2.3vh;
}
header .fixaMenu .menuSection .menu ul {
  display: flex;
}
header .fixaMenu .menuSection .menu ul li {
  margin-left: 5vw;
  list-style: none;
}
header .fixaMenu .menuSection .menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
}
header .fixaMenu .menuSection .menu ul li a:hover {
  color: #fcd284;
}
header .imgArea {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 5vh;
}
header .imgArea .textArea {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
}
header .imgArea .textArea .alpha {
  font-size: 5em;
}

main .helloAlpha {
  height: 60vh;
}
main .helloAlpha .helloTitle {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 12vh;
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .helloAlpha .helloTitle h1 {
  font-size: 7em;
  font-weight: lighter;
  margin-top: 1.5vh;
}
main .helloAlpha .helloTitle div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  color: white;
  height: 4vh;
  width: 30vw;
}
main .helloAlpha .helloTitle div h2 {
  margin-top: 0.2vh;
}
main .helloAlpha .helloTitle div hr {
  color: black;
  border: solid black;
}
main .helloAlpha .helloText {
  color: gray;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-top: 6vh;
  font-family: "Crimson Text", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}
main .helloAlpha .tresPontos {
  color: black;
  font-weight: bold;
  font-size: 3em;
  margin-top: 10vh;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
main #work {
  height: 110vh;
}
main #work .workTitle {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 2vh;
}
main #work .workTitle h2 {
  text-transform: uppercase;
  font-size: 1.8em;
}
main #work .workTitle hr {
  border: 2px solid black;
  background-color: black;
  width: 5vw;
  margin-top: 1vh;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
main #work .workTitle p {
  color: gray;
  margin-top: 3vh;
}
main #work nav {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 12vh;
}
main #work nav .workMenu {
  display: flex;
}
main #work nav .workMenu li {
  list-style: none;
  margin-left: 1.5vw;
}
main #work nav .workMenu li a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
  color: black;
}
main #work nav .workMenu li a:hover {
  color: #fcd284;
}
main #work .workGrid {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
}
main #work .workGrid .img1 {
  background-image: url(images/image2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
main #work .workGrid .img2 {
  background-image: url(images/image3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
main #work .workGrid .img3 {
  background-color: black;
}
main #work .workGrid .img3 hr {
  border: solid #fcd284;
}
main #work .workGrid .img4 {
  background-image: url(images/image5.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
main #work .workGrid .img5 {
  background-image: url(images/image6.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
main #work .workGrid .img6 {
  background-image: url(images/image7.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
main #work .workGrid div {
  height: 30vh;
  width: 20vw;
}
main #work .workGrid p {
  text-transform: uppercase;
  background-color: white;
  margin-top: 30vh;
}
main #work .allWorks {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 100vh;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 20vw;
}
main .services {
  height: 100vh;
}
main .services .ourServices {
  background-image: url(images/image8.jpg);
  width: 40vw;
  height: 70vh;
  margin-left: 3vw;
}
main .services .ourServices div {
  position: absolute;
  background-color: white;
  text-align: center;
  width: 10vw;
  height: 10vh;
  margin-left: 0%;
  margin-top: 20vh;
}
main .services .ourServices div p {
  text-transform: uppercase;
  margin-top: 5vh;
}/*# sourceMappingURL=style.css.map */