$SourceSansPro: "Source Sans Pro", sans-serif;
$Monsterrat: "Montserrat", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@mixin backgroundConfig($color) {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    color: $color;
  }
}

@mixin escurecer($porcentagem) {
  filter: brightness($porcentagem);
}

@mixin escurecerBackground($url) {
  background: linear-gradient(#00000098, #00000098), url($url);
}

@mixin centralizarVertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin centralizarViewport {
  // O PAI DEVE OBRIGATORIAMENTE TER POSITION RELATIVE ////
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@mixin centralizarhorizontal {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

@mixin centralizarFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sectionTitle {
  letter-spacing: 0.5vw;
  position: relative;
  text: {
    align: center;
    transform: uppercase;
  }
  margin-top: 7vh;
  font: {
    family: $Monsterrat;
    weight: bold;
  }
  .top {
    font-size: 1.8rem;
    color: gray;
  }
  .middle {
    font: {
      size: 3rem;
    }
  }
  hr {
    @include centralizarViewport();
    width: 16.5vw;
    height: 1px;
    margin-top: 6.5vh;
    background-color: gray;
    border: 0.5px gray solid;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: {
    size: 62.5%;
    family: $SourceSansPro;
  }
}

#home {
  @include escurecerBackground("assets/hero.jpg");
  @include backgroundConfig(transparent);
  position: relative;
  width: 100%;
  height: 100vh;

  #cabecalho {
    width: 100%;
    height: 8vh;
    display: flex;

    .logo {
      @include centralizarVertical();
      margin-left: 5vw;
    }

    .menu {
      margin: {
        left: 25vw;
      }
      ul {
        @include centralizarVertical();
        display: flex;

        li {
          list-style: none;

          margin: {
            left: 2vw;
          }

          a {
            text: {
              decoration: none;
              transform: uppercase;
            }

            font: {
              size: 1.4rem;
              family: $Monsterrat;
            }

            color: white;
          }

          .home {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }

  #homeTitle {
    @include centralizarViewport();
    width: 60vw;
    height: 50vh;
    text-align: center;
    font-weight: bold;
    p {
      @include centralizarViewport();
      font-size: 2.5rem;
      letter-spacing: 1vw;
      color: white;
      text-transform: uppercase;
      margin-top: -5vh;
    }
    h2 {
      @include centralizarViewport();
      font-size: 5rem;
      text-transform: uppercase;
      margin-top: 3vh;
      color: white;
      letter-spacing: 1vw;
    }
    a {
      @include centralizarViewport();
      @include centralizarFlex();
      font-size: 1.6rem;
      text: {
        decoration: none;
        transform: uppercase;
      }
      margin-top: 15vh;
      width: 10vw;
      height: 5vh;
      color: white;
      border: 1px white solid;
    }
  }
}

#website {
  position: relative;
  #skils {
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    .iten {
      border: 1px #e7e7e7 solid;
      img {
        margin: {
          left: 1.5vw;
          top: 2.5vh;
        }
      }
      h3 {
        margin: {
          left: 1.5vw;
          top: 1.5vh;
        }
        font: {
          size: 2rem;
          weight: bolder;
        }
        text: {
          transform: uppercase;
          family: $Monsterrat;
        }
        letter-spacing: 0.3vw;
      }
      p {
        margin: {
          left: 1.5vw;
          top: 1.5vh;
        }
        font: {
          size: 1.6rem;
        }
        color: gray;
      }
    }
  }
  #aboutUs {
    position: relative;
    width: 100%;
    height: 125vh;
    .sectionTitle {
      @include sectionTitle();
    }
    .boldText {
      position: absolute;
      width: 30vw;
      margin: {
        top: 10vh;
      }
      font: {
        size: 4rem;
        weight: bold;
      }
      text: {
        align: right;
      }
      .experience {
        text-decoration: underline;
      }
    }
    .lorem {
      height: 20vh;
      width: 60vw;
      color: gray;
      font: {
        size: 2.4rem;
      }
      margin: {
        left: 32.5vw;
        top: 10vh;
      }
    }
    .list {
      list-style-image: url("assets/right-arrow.png");
      color: gray;
      font: {
        size: 3.5rem;
      }
      margin: {
        left: 40vw;
        top: 5vh;
      }
    }
    img {
      display: flex;
      width: 70vw;
      margin: {
        top: 5vh;
        left: auto;
        right: auto;
      }
    }
  }
  #services {
    position: relative;
    height: 183vh;
    .sectionTitle {
      @include sectionTitle();
    }
    .grid {
      @include centralizarhorizontal();
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90vw;
      height: 100vh;
      margin: {
        top: 10vh;
      }
      img {
        width: 40vw;
      }
      .iten {
        width: 40vw;
        .numero {
          position: absolute;
          font: {
            size: 15rem;
            weight: bold;
          }
          color: #afafaf;
          margin: {
            top: 1vh;
            left: 2vw;
          }
        }
        .titulo {
          position: absolute;
          color: black;
          font: {
            size: 4rem;
            family: $SourceSansPro;
            weight: bold;
          }
          margin: {
            left: 12.5vw;
            top: 12vh;
          }
          text: {
            transform: uppercase;
          }
        }
        .lorem {
          position: absolute;
          width: 27vw;
          font: {
            size: 1.6rem;
          }
          color: gray;
          margin: {
            left: 2vw;
            top: 27vh;
          }
          text: {
            aligm: justfy;
          }
        }
        .more {
          position: absolute;
          text-align: center;
          width: 10vw;
          height: auto + 1.5px;
          border: 1px black solid;
          margin: {
            top: 45vh;
            left: 10vw;
          }
          text: {
            transform: uppercase;
            decoration: none;
          }
          color: black;
          font: {
            size: 1.75rem;
          }
        }
      }
    }
  }
  #numeros {
    position: relative;
    background-color: black;
    width: auto;
    height: 25vh;
    .flex {
      @include centralizarViewport();
      display: flex;
      align-items: center;
      div {
        position: relative;
        display: flexbox;
        align-items: center;
        margin: {
          left: 2vw;
        }
        img {
          @include centralizarhorizontal();
          margin-top: -6vh;
        }
        p {
          color: white;
          font: {
            size: 1.6rem;
            weight: bold;
          }
          text: {
            transform: uppercase;
            align: center;
          }
        }
      }
    }
  }
  #projects {
    position: relative;
    width: auto;
    height: 115vh;
    width: 100%;
    .sectionTitle {
      @include sectionTitle();
    }
    .menu {
      @include centralizarhorizontal();
      margin: {
        top: 8vh;
      }
      ul {
        display: flex;
        li {
          margin: {
            left: 1vw;
          }
          list: {
            style: none;
          }
          text: {
            decoration: none;
          }
          a {
            color: black;
            text: {
              transform: uppercase;
              decoration: none;
            }
            font: {
              size: 1.6rem;
              family: $Monsterrat;
            }
          }
        }
      }
    }
    .grid {
      @include centralizarViewport();
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin: {
        top: 17vh;
      }
      #img5 {
        @include escurecerBackground('assets/product_06.jpg');
      }
      .iten {
        width: 20vw;
        height: 35vh;
      }
    }
  }
  #team {
    position: relative;
    height: 85vh;
    .sectionTitle {
      position: absolute;
      @include sectionTitle();
    }
    .images {
      @include centralizarFlex();
      .iten {
        position: relative;
        background-color: black;
        width: 20vw;
        height: 60vh;
        margin: {
          left: 1vw;
          top: 10vh;
        }
      }
      .iten1 {
        background-image: url(assets/team_01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .hidde1 {
          position: absolute;
          width: 20vw;
          height: 60vh;
          display: none;
          background: linear-gradient(45deg, #000000be, #000000be);
          p {
            @include centralizarFlex();
            color: white;
            font: {
              size: 1.6rem;
            }
            margin: {
              top: 15vh;
            }
          }
        }
        &:hover {
          .hidde1 {
            display: block;
          }
        }
      }
      .iten2 {
        background-image: url(assets/team_02.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .hidde2 {
          position: absolute;
          width: 20vw;
          height: 60vh;
          display: none;
          background: linear-gradient(45deg, #000000be, #000000be);
          p {
            @include centralizarFlex();
            color: white;
            font: {
              size: 1.6rem;
            }
            margin: {
              top: 15vh;
            }
          }
        }
        &:hover {
          .hidde2 {
            display: block;
          }
        }
      }
      .iten3 {
        background-image: url(assets/team_03.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .hidde3 {
          position: absolute;
          width: 20vw;
          height: 60vh;
          display: none;
          background: linear-gradient(45deg, #000000be, #000000be);
          p {
            @include centralizarFlex();
            color: white;
            font: {
              size: 1.6rem;
            }
            margin: {
              top: 15vh;
            }
          }
        }
        &:hover {
          .hidde3 {
            display: block;
          }
        }
      }
    }
  }
  #quote {
    position: relative;
    width: 100%;
    height: 50vh;
    blockquote {
        @include centralizarViewport();
        background-color: whitesmoke;
        width: 40vw;
        height: 50vh;
      text: {
        align: center;
      }
      img {
          width: 7vw;
        }
      h3 {
          font: {
          size: 2rem;
          weight: bold;
        }
      }
      .text {
          @include centralizarhorizontal();
          width: 30vw;
        font: {
          size: 1.6rem;
          style: italic;
        }
        top: 25vh;
      }
      .name {
        font: {
          size: 1.6rem;
        }
        margin: {
          top: 25vh;
        }
      }
    }
  }
  #work {
      position: relative;
      width: 100%;
      height: 65vh;
      @include escurecerBackground('assets/cat_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .sectionTitle {
        @include sectionTitle();
        position: relative;
        color: white;
        margin-top: 5vh;
      }
      .lorem {
        color: white;
        font-size: 1.6rem;
        @include centralizarViewport();
        @include centralizarFlex();
        width: 45vw;
      }
      .more {
        position: absolute;
        text-align: center;
        width: 10vw;
        height: auto + 1.5px;
        border: 1px white solid;
        margin: {
          top: 45vh;
          left: 40vw;
        }
        text: {
          transform: uppercase;
          decoration: none;
        }
        color: white;
        font: {
          size: 1.75rem;
        }
      }
  }
  #partners {
    position: relative;
    width: 100%;
    height: 40vh;
    .sectionTitle {
      @include sectionTitle();
    }
    .flex {
      @include centralizarFlex();
      @include centralizarhorizontal();
      margin-top: 3vh;
    }
  }
}

footer {
  position: relative;
  background-color: #0e0e0e;
  width: 100%;
  height: 40vh;
  color: white;
  #contact {
    @include centralizarFlex();
    position: relative;
    width: 100%;
    height: 30vh;
    text-align: center;
    div {
      width: 25%;
      h4 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-top: 1vh;
      }
      p {
        font-size: 1.6rem;
        color:gray;
        margin-top: 1vh;
      }
    }
  }
  #cop {
    position: relative;
    width: 100%;
    height: 5vh;
    p {
      width: 100%;
      height: auto;
      color: white;
      font-size: 1.6rem;
      text-align: center;
      a {
        color: white;
        font-size: 1.6rem;
      }
    }
  }
  #redesSociais {
    position: relative;
    background-color: #0e0e0e;
    width: 100%;
    height: 15vh;
    display: flex;
    .iten {
      width: 25%;
      height: 15vh;
      position: relative;
      &:hover {
        transform: scale(0.9);
      }
      img {
        @include centralizarViewport();
      }
    }
    .facebook {
      background-color: #2a2aff;
    }
    .twitter {
      background-color: #0066ff;
    }
    .google {
      background-color: red;
    }
    .pinterest {
      background-color: #8f0000;
    }
  }
}

@import "responsive";
