$SourceSansPro: 'Source Sans Pro',
sans-serif !global;
$Monsterrat: 'Montserrat',
sans-serif !global;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


@mixin backgroundConfig ($color) {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
        color: $color;
    }
}

@mixin escurecer ($porcentagem) {
    filter: brightness($porcentagem);
}

@mixin escurecerBackground ($url) {
    background: linear-gradient(#00000098,
            #00000098), url($url);
}

@mixin centralizarVertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centralizarViewport {
    // O PAI DEVE OBRIGATORIAMENTE TER POSITION RELATIVE ////
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@mixin centralizarFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: {
        size: 62.5%;
        family: $SourceSansPro;
    }
}

#home {
    @include escurecerBackground('assets/hero.jpg');
    @include backgroundConfig(transparent);
    position: relative;
    width: 100%;
    height: 100vh;

    #cabecalho {
        width: 100%;
        height: 8vh;
        display: flex;

        .logo {
            @include centralizarVertical();
            margin-left: 5vw;
        }

        .menu {
            margin: {
                left: 25vw;
            }
            ul {
                @include centralizarVertical();
                display: flex;

                li {
                    list-style: none;

                    margin: {
                        left: 2vw;
                    }

                    a {
                        text: {
                            decoration: none;
                            transform: uppercase;
                        }

                        font: {
                            size: 1.4rem;
                            family: $Monsterrat;
                        }

                        color: white;

                    }

                    .home {
                        border-bottom: 2px solid white;
                    }
                }
            }
        }        
    }

    #homeTitle {
        @include centralizarViewport();
        width: 60vw;
        height: 50vh;
        text-align: center;
        font-weight: bold;
        p {
            @include centralizarViewport();
            font-size: 2.5rem;
            letter-spacing: 1vw;
            color: white;
            text-transform: uppercase;
            margin-top: -5vh;
        }
        h2 {
            @include centralizarViewport();
            font-size: 5rem;
            text-transform: uppercase;
            margin-top: 3vh;
            color: white;
            letter-spacing: 1vw;
        }
        a {
            @include centralizarViewport();
            @include centralizarFlex();
            font-size: 1.6rem;
            text: {
                decoration: none;
                transform: uppercase;
            }
            margin-top: 15vh;
            width: 10vw;
            height: 5vh;    
            color: white;
            border: 1px white solid;
        }
    }
}

#website {
    position: relative;
    .skils {
        width: 100%;
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: relative;
        .iten {
            border: 1px #e7e7e7 solid;
            img {
                margin: {
                    left: 1.5vw;
                    top: 2.5vh;
                }                
            }
            h3 {
                margin: {
                    left: 1.5vw;
                    top: 1.5vh;
                }
                font: {
                    size: 2rem;
                    weight: bolder;
                }
                text: {
                    transform: uppercase;
                    family: $Monsterrat;
                }
                letter-spacing: 0.3vw;
            }
            p {
                margin: {
                    left: 1.5vw;
                    top: 1.5vh;
                }
                font: {
                    size: 1.6rem;
                }
                color: gray;
            }
        }
    }
    .aboutUs {
        position: relative;
        width: 100%;
        height: 100vh;
    }
}


@import 'responsive';