$MontserratBold: "MontserratBold", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Waterspout: #92fcf9;
$Dandelion: #ffd96d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $Montserrat;
}

@mixin background($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @mixin container($width, $height) {
    position: relative;
    width: $width;
    height: $height;
  }
  
  @mixin centralizarVertical {
    display: flex;
    align-items: center;
  }
  
  @mixin centralizarBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @mixin centralizar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @mixin titulo {
    @include centralizarBlock();
    width: 30vw;
    margin: {
      top: 10vh;
    }
    text: {
      align: center;
    }
    h2 {
      color: black;
      font: {
        size: 3rem;
        weight: bold;
        family: $MontserratBold;        
      }
      text: {
        transform: uppercase;
      }
    }
    h4 {
      color: gray;
      font: {
        style: italic;
        size: 1.7rem;
      }
    }
    hr {
      @include centralizarBlock();
      width: 6vw;
      background-color: black;
      height: 4px;
      border: black solid 1px;
      border-radius: 10px;
      margin-top: .5rem;
    }
  }

header {
  @include background("/assets/home-page/hero.jpg");
  @include container(auto, 100vh);

  nav {
    @include container(auto, 8vh);
    display: flex;

    h1 {
      @include centralizarVertical();
      font: {
        size: 3rem;
        family: $MontserratBold;
      }
      text: {
        transform: uppercase;
      }
      margin: {
        left: 5vw;
      }
    }

    ul {
      @include centralizarVertical();
      margin: {
        left: auto;
      }

      li {
        list-style: none;
        width: 11vw;
        a {
          color: black;
          font: {
            size: 1.7rem;
            weight: bold;
          }
          text: {
            transform: uppercase;
            decoration: none;
          }
        }
      }
    }
  }

  #creative {
    @include centralizar();
    width: 60vw;
    height: 60vh;

    p {
      @include centralizar();
      color: white;
      letter-spacing: 1vw;
      text: {
        align: center;
        transform: uppercase;
      }
      font: {
        size: 9rem;
        family: $MontserratBold;
      }
    }
  }

}

main {
  @include container(auto, auto);

  #about {
    @include container(auto, 100vh);

    .aboutTitle {
        @include centralizarBlock();
        width: 55vw;
        margin-top: 15vh;
        p {
            font: {
                size: 3rem;
                family: $MontserratBold;
                weight: bold;
            }
            text: {
                transform: uppercase;
                align: center;
            }
        }
    }

    img {
        @include centralizar();
    }

    #yellowDiv {
        @include centralizar();
        width: 20vw;
        height: 40vh;
        background-color: $Dandelion;

    }

    .textAbout {
        @include centralizar();
        color: gray;
        width: 80vw;
        margin: {
            top: 30vh;
        }
        font: {
            size: 1.6rem;
        }
        text: {
            align: center;
        }
    }

  }
  
  #skils {
    @include container(auto, 70vh);
    background-color: whitesmoke;
    .flex {
      @include centralizar();
      display: flex;
      .iten {
        margin-left: 2vw;
        width: 20vw;
        height: 55vh;
        background-color: white;
        text: {
          align: center;
          transform: uppercase;
        }
        h3 {
          margin-top: 1.5vh;
          font: {
            size: 2rem;
            weight: bold;
          }
        }
        img {
          @include centralizarBlock();
          margin-top: 2vh;
        }
        .flexStars {
          display: flex;

        }
        .porcentagem {
          font: {
            size: 1.6rem;
            weight: bold;
          }
        }
        h4 {
          margin-top: 4vh;
          font: {
            size: 1.6rem;
            weight: bold;
          }
        }
        hr {
          @include centralizarBlock();
          width: 10vw;
          height: 4px;
          border-radius: 50px;
          background-color: black;
          border: black solid 1px;
          margin-top: 1vh;
        }
      }
    }
  }

  #offers {
    @include container(auto, 100vh);
    .titulo {
      @include titulo();
    }
    
    .grid {
      @include centralizar();
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin: {
        top: 5vh;
      }
      .iten {
        width: 30vw;
        height: 40vh;
        display: flex;
        .img {
          height: 35vh;
          width: 5vw;
        }
        .text {
          h2 {
            width: 12.5vw;
            margin: {
              top: 1vh;
              left: 1vw;
            }
            font: {
              size: 2rem;
              family: $MontserratBold;
              weight: bold;
            }
            text: {
              transform: uppercase;
            }
          }
        }
        hr {
          margin: {
            top: 1vh;
            left: 1vw;
          }
          width: 10vw;
          height: 4px;
          background-color: black;
          border-radius:  10px;
          border: black solid 1px;
        }
        .lorem {
          margin: {
            top: 1vh;
            left: 1vw;
          }
          font: {
            size: 1.5rem;
            style: italic;
          }
        }
        a {
          margin: {
            top: 3vh;
            left: 1vw;
          }
          color: black;
          font: {
            size: 1.6rem;
            weight: bold;
          }
          text: {
            decoration: none;
            transform: uppercase;
          }
        }
      }
    }
  }

  #facts {
    @include background('/assets/home-page/facts-bg.jpg');
    @include container(auto, 70vh);
    .title {
      position: absolute;
      margin: {
        left: 10vw;
        top: 5vh;
      }
      text: {
        align: justify;
      }
      width: 30vw;
      h2 {
        font: {
          size: 3rem;
          weight: bold;
          family: $MontserratBold;
        }
        text: {
          transform: uppercase;
        }
      }
      p {
        color: gray;
        font: {
          size: 1.6rem;
        }
      }
      hr {
        width: 15vw;
        height: 4px;
        background-color: black;
        margin-top: 1vh;
        border: {
          radius: 10px;
          color: black;
          style: solid;
        }
      }
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 25vh;
      margin-left: 9vw;
      position: absolute;
      .iten {
        padding: 15px;
        text: {
          transform: uppercase;
        }
        h2 {
          font: {
            size: 4rem;
            family: $MontserratBold;
          }         
        }
        p {
          font: {
            size: 1.6rem;
          }
        }
      }
    }
  }

  #contato {
    @include container(auto, 100vh);
    .titulo {
      @include titulo();
    }
    .adress {
      @include centralizarBlock();
      text-align: center; 
      margin-top: 5vh;
      .numero {
        color: blue;
        font: {
          size: 3.5rem;
          weight: bold;
        }
        text: {
          transform: uppercase;
        }
      }
      .endereco {
        color: gray;
        font: {
          size: 1.6rem;
          style: italic;
        }
      }
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border: transparent;
      input {
        @include centralizarBlock();
        width: 15vw;
        padding: 15px;
        margin-top: 5vh;
        font: {
          size: 1.6rem;
        }
        border: {
          top: transparent;
          right: transparent;
          left: transparent;
          bottom: solid gray 2px;
        }
      }
      #mensagem {
        grid-column: 1/4;
        width: 60vw;
        height: 30vh;
      }
      #enviar {
        background-color: black;
        color: white;
        text-transform: uppercase;
        grid-column: 2/3;
      }
    }
  }
}

footer {
  @include container(auto, 20vh);
  background-color: $Dandelion;
  h1 {
    @include centralizar();
    width: 15vw;
    margin: {
      top: -8vh;
    }
    text: {
      align: center;
      transform: uppercase;
    }
    font: {
      size: 3rem;
      weight: bold;
      family: $MontserratBold;
    }
  }
  nav {
    @include container(40vw, auto);
    @include centralizar();
    ul {
      display: flex;
      li {
        list-style: none;
        padding: 15px;
        a {
          @include centralizarBlock();
          color: black;
          text: {
            decoration: none;
            transform: uppercase;
          }
          font: {
            size: 1.6rem;
            weight: bold;
          }
        }
      }
    }
  }
  .copyright {
    @include centralizar();
    text-align: center;
    font: {
      size: 1.6rem;
    }
    margin-top: 8vh;
    a {
      font-size: 1.6rem;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=MontserratBold&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
